{% extends 'base.html' %}

{% block head %}
<!--Enter your <head> code here-->
<title>Home</title>
{% endblock %} 

{% block body %}
<!--Enter your <body> code here-->
<div id="grid">
    <header class="box header">
        <h1>Get Assigned a Random Flight!</h1>
    </header>
    <nav class="box mobile-nav">
        <a href="{{ url_for('home') }}">Home Page</a>
        <a href="{{ url_for('final' )}}">Enter New Bottle</a>
        <a href="{{ url_for('random_flight' )}}">Get a Random Flight</a>
        <a href="{{ url_for('analyze_inventory' )}}">Analyze Current Bottles</a>
    </nav>
    <main class="box main"></main>
    <nav class="box desktop-nav">
        <a href="{{ url_for('home') }}">Home Page&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="{{ url_for('final' )}}">Enter New Bottle&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="{{ url_for('random_flight' )}}">Get a Random Flight&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="{{ url_for('analyze_inventory' )}}">Analyze Current Bottles&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </nav>
    <aside class="box aside"></aside>
    <footer class="box footer"></footer>
</div>
{% endblock %} 