body {
    background-color: rgb(105, 112, 97);
    color: hsla(120, 20%, 20%, 1);
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    margin: 0 auto;
}
#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "mobile-nav"
        "main"
        "aside"
        "footer";
    margin: 0 auto;
    max-width: 80rem;
}
.box {
    border: 0.1rem solid hsla(30, 20%, 15%, 1);
    padding: 0;
    text-align: center;
}
.header {
    background-color: hsla(30, 20%, 80%, 1);
    font-family: "Merienda", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: header;
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
}
.mobile-nav {
    background-color: hsla(30, 20%, 30%, 1);
    grid-area: mobile-nav;
}
.desktop-nav {
    background-color: hsla(30, 20%, 30%, 1);
    color: hsla(30, 20%, 90%, 1);
    display: none;
    grid-area: desktop-nav;
    padding: 0;
    text-align: right;
}
.desktop-nav a {
    color: hsla(30, 20%, 90%, 1);
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0;
}
.main {
    background-color: hsla(30, 20%, 60%, 1);
    grid-area: main;
}
.aside {
    background-color: hsla(30, 20%, 70%, 1);
    grid-area: aside;
}
.footer {
    background-color: hsla(30, 20%, 80%, 1);
    grid-area: footer;
}
a {
    text-decoration: none;
}
nav a {
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}
a:link {
    color: hsla(30, 20%, 25%, 1)
}
a:visited {
    color: hsla(30, 20%, 15%, 1);
}
nav a:hover {
    background-color: hsla(30, 20%, 15%, 1);
    color: hsla(60, 20%, 60%, 1);
}

td {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.form {
    background-color: hsla(120, 20%, 50%, 1);
    font-size: 1rem;
    margin-top: 1rem;
}

#content {
    padding: 1rem;
    border-radius: 0.2rem;
    width: 20rem;
}

input[type="text"] {
    background-color: hsla(60, 70%, 80%, 1);
}

@media screen and (min-width: 480px) {
    #grid {
        grid-template-columns: 18rem 3fr;
        grid-template-rows: auto;
        grid-template-areas:
          "desktop-nav header"
          "main main"
          "footer aside";
    }
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: grid;
    }
}